<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI19_网易首页.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49736CDB1C3E6420003A19F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49736CF41C3E6420003A19F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49736CFF1C3E6420003A19F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
