<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI19_网络封装(delegate回调).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49736B511C3DF9F4003A19F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49736B6A1C3DF9F5003A19F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49736B751C3DF9F5003A19F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
